{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Load the HTMX library -->
    <script src="https://unpkg.com/htmx.org@1.9.1"></script>
    <script src="{% static 'lunches/js/lunches.js' %}"></script>
    <title>Lunchtime</title>
</head>
<body>
    <h1>Lunchtime</h1>
    <div id="lunches">
        <!-- get lunches from the server -->
        <div id="lunches_container" hx-get="{% url 'get_lunches' %}" hx-trigger="load">
            Loading lunches...
        </div>
    </div>
</body>
</html>
